##############################
##
## Config initialization..
##
##############################

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(templates|plugins)
RewriteRule ^(.*)$ index.php?controller=$1 [NC,L,QSA]
</IfModule>

IndexIgnore *
Options All -Indexes


# Set a default PHP version
#AddHandler application/x-httpd-php74 .php
