##############################
##
## Config initialization..
##
##############################

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(templates|plugins)
RewriteRule ^(.*)$ index.php?controller=$1 [NC,L,QSA]
RewriteRule (.+) index.php?controller=$1 [QSA,L]
</IfModule>

IndexIgnore *
Options All -Indexes
