##############################
##
## Config initialization..
##
##############################

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(templates|plugins)

#TODO: Fix query issues.
#RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]
RewriteRule ^(.*)$ public/index.php?controller=$1 [NC,L,QSA]

</IfModule>

IndexIgnore *
Options All -Indexes


# Set a default PHP version
#AddHandler application/x-httpd-php74 .php
